@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.transition-all {
    transition-duration: 0.4s;
}

.transition-colors {
    transition-duration: 0.4s;
}

.custom-pagination .custom-bullet.swiper-pagination-bullet-active {
    width: 32px;
    background-color: #EAB308!important;
}

.berita-text-round {
    transition: filter;
    transition-duration: 0.4s;
}

.berita-button:hover .berita-text-round {
    filter: invert(1) brightness(2);
    transition: filter;
    transition-duration: 0.4s;
}

.react-select__indicator-separator {
    display: none!important;
}

.react-select__value-container {
    padding: 0!important;
}

.react-select__input-container {
    margin: 0!important;
    padding: 0!important;
}

.react-select__indicator {
    padding: 0!important;
}

.react-select__control  {
    height: fit-content!important;
    padding: 10px 16px;
    border: 2px solid #94A3B8!important;
    border-radius: 12px!important;
    width: 100%!important;
    background-color: #f1f5f9!important;
}

.react-select__control--is--focused {
    border: 2px solid #EAB308!important;
}

.checkbox-container {
    position: relative;
}

.checkbox-native {
    display: none;
}

.checkbox-custom {
    width: 24px;
    height: 24px;
    border: 2px solid #94a3b8;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.checkbox-container input:checked ~ .checkbox-custom {
    background-color: #fef08a;
    border: 2px solid #facc15;
}

.wrapperClassName {
    border: solid 2px #E2E8F0!important;
    border-radius: 0.75rem;
}

.toolbarClassName {
    margin: 0!important;
    padding: 12px 16px!important;
    border: none!important;
    border-top-right-radius: 0.75rem!important;
    border-top-left-radius: 0.75rem!important;
    border-bottom: solid 2px #E2E8F0!important;
    background-color: #f1f5f9!important;
    display: flex!important;
    justify-content: center!important;;
    gap: 16px!important;
}

.login-card {
    box-shadow: 24px 24px #fde68a;
}

.yoopta-editor {
    padding: 0!important;
}

.yoopta-editor {
    width: 100%!important;
}

.dot-loading:nth-child(1) {
    animation: animation-loading 2s infinite;
}

.dot-loading:nth-child(2) {
    animation: animation-loading 2s infinite 0.1s;
}

.dot-loading:nth-child(3) {
    animation: animation-loading 2s infinite 0.2s;
}

@keyframes animation-loading {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(8px);
    }
    66% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}