@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}

.transition-all {
    transition-duration: 0.4s;
}

.transition-colors {
    transition-duration: 0.4s;
}

.custom-pagination .custom-bullet.swiper-pagination-bullet-active {
    width: 32px;
    background-color: #EAB308!important;
}